.container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  color: #e72e77;
  margin-bottom: 20px;
}

.tableWrapper {
  flex: 1;
  overflow: auto;
  max-height: 500px; /* Set a fixed height for the scrollable area */
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 800px;
}



.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #e72e77;
  color: white;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the table wrapper */
  z-index: 1; /* Ensure the header stays above the table rows */
}

.table tr:hover {
  background-color: #f5f5f5;
}

.detailButton {
  background-color: #e72e77;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.detailButton:hover {
  background-color: #c61a64;
}

.approved {
  color: #2ecc71;
  font-weight: 500;
}

.rejected {
  color: #e74c3c;
  font-weight: 500;
}