.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Aligns buttons vertically */
    gap: 15px;
    margin-top: 20px;
}
  
  .approveButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .rejectButton {
    background-color: #FF4C4C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .approveButton:hover {
    background-color: #45a049;
  }
  
  .rejectButton:hover {
    background-color: #cc0000;
  }
  
  